@import-normalize; /* bring in normalize.css styles */

body {
  color: #121417;
  margin: 0;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input:hover,
input:active,
input:focus {
  outline: none;
}
select:hover,
select:active,
select:focus {
  outline: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

._container {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

/* @media (min-width: 1920px) {
  ._container {
    max-width: 1920px;
  }
} */
